*{


    margin: 0;
}



header {


    background-image: url("images/donation6.jpg"), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    ;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;



}

.Donate-today {

    gap: 30px;
}

.banner {

    text-align: center;
}

.banner h1 {

    font-weight: 700;
    font-size: 65px;
    color: white;
}

button {

    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: white;
    margin: 15px;


}

button:hover {


    border: 1px solid red ;
    background-color: white;
    color: #FF5959;
}

.banner p {

    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    text-align: center;

    color: #FFFFFF;
}


section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    text-align: center;
    margin-top: 130px;
}

.price {

    display: flex;
}


.taka {

    background: #FAFAFA;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #707070;

}

.another {


    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;

}

.card {

    display: flex;
    margin: 30px 40px;


}

.cat {

    padding: 54px 22px ;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-right: 24px;
    

    text-align: left;

}

.cat1 {

    padding: 54px 22px ;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    margin-right: 24px;

    text-align: left;

}

.cat2 {

    padding: 54px 22px ;
    background: #FFF4D6;
    border-radius: 5px;
    margin-right: 24px;

    text-align: left;

}

.donate-us {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.donate-us-2 {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.text-area {
    width: 50%;
   
}

.text-area-h1 {

    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

.image-area {
    width: 456px;
    height: 477px;

}

.last-area {


    background-color: #FFF4D6;
    width: 809px;
    height: 200px;

}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input {

    border: 0;
    padding: 10px;
    width: 275px;
    background-color: #D9D9D9;
}

p {

    color: #707070;
}
.last-one {


    gap: 20px;
}

@media screen and (max-width:700px) {


    button {


        margin: 15px;
    }


    .price {

        flex-direction: column;
    }
    .card {

        flex-direction: column;
        gap: 20px;
    }

    .donate-us {


        flex-direction: column-reverse;
        border-bottom: 1px solid gray ;
    }

    .donate-us-2 {

        flex-direction: column;
        border-bottom: 1px solid gray ;

    }

    .image-area {

        width: 100%;

    }

    .image-area img {

        width: 100%;
    }

    .text-area {
        width: 100%;

        margin: 20%;
    }
    .text-area-h1 {


        font-size: 30px;
    }

    .input-area {
       flex-direction: column;

    }

    .banner h1 {

        font-size: 30px;
        padding: 10px;
    }

    .banner p {

        font-size: 15px;
        padding: 10px;
    }

    
    
}